@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-bottom: 1.25rem;

    .title {
      font-size: 0.75rem;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;

      @include lg{
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      padding: 0.625rem;
      border-radius: 0.3125rem;
text-decoration: none;
      &:hover {
        background-color: $soft-bg;
      }

      .listItemTitle{
        color: $main-color;
        
        @include lg{
          display: none;
        }
      }
    }
  }
}