@import "../../styles/responsive.scss";

.single {
  display: flex;

  @include xl{
    flex-direction: column;
    gap: 3.125rem;
  }

  .view {
    flex: 1;

    .info {
      .topInfo {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        img {
          width: 6.25rem;
          height: 6.25rem;
          border-radius: 1.25rem;
          object-fit: cover;
        }

        h1 {
          font-weight: 500;
        }
      }
      .details {
        font-size: 1.125rem;

        .item {
          margin: 1.875rem 0rem;

          .itemTitle {
            font-weight: 600;
            margin-right: 0.625rem;
            text-transform: capitalize;
          }
        }
      }
    }

    hr {
      width: 90%;
      height: 0;
      border: 0.5px solid gray;
      margin: 1.25rem 0rem;

      @include md{
        display: none;
      }
    }

    .chart {
      margin-top: 3.125rem;
      width: 80%;
      height: 25rem;

      @include md{
        display: none;
      }
    }
  }
  .activities {
    flex: 1;

    h2 {
      margin-bottom: 1.25rem;
    }

    ul {
      li {
        list-style-type: none;
        position: relative;
        width: 0.0625rem;
        padding-top: 3.125rem;
        background-color: #f45b69;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0.625rem;
          height: 0.625rem;
          border-radius: 50%;
          background-color: #f45b69;
          transform: translateX(-50%);
        }

        div {
          min-width: 480px;
          padding: 0.9375rem;
          background-color: #f45b6810;

          @include md{
            min-width: 250px;
          }

          p{
            margin-bottom: 0.3125rem;
          }

          time{
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}