@import "../../styles/responsive.scss";

.pieChartBox {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	h1 {
		@include xxl{
		  font-size: 1.5rem;
		}
	}

	.chart {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		flex-direction: column;
	}

	.options {
		display: flex;
		justify-content: space-between;
		gap: 0.625rem;
		font-size: 0.875rem;

		.option {
			display: flex;
			flex-direction: column;
			gap: 0.625rem;
			align-items: center;

			.title {
				display: flex;
				gap: 0.625rem;
				align-items: center;

				.dot {
					width: 0.625rem;
					height: 0.625rem;
					border-radius: 50%;
				}
			}
		}
	}
}
