.users{

    .info{
      display: flex;
      align-items: center;
      gap: 1.25rem;
      margin-bottom: 1.25rem;
  
      button{
        padding: 0.3125rem;
        cursor: pointer;
      }
    }
  }